body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #0077b6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background: #0077b6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
